table {
    border-collapse: collapse;
}



thead tr {
    background-color: #9c3;        
}


tbody tr:nth-child(even) {
    background-color: #ddd;        
}

.tablesorter-headerAsc .tablesorter-header-inner::after {
    content: " ▼";
    color: lightgray;
}

.tablesorter-headerDesc .tablesorter-header-inner::after {
    content: " ▲";
    color: lightgray;
}

.tablesorter-headerUnSorted .tablesorter-header-inner::after {
    content: " =";
    color: lightgray;
}

thead > tr > td {
    min-width: 6em;
}

.tag {
    border: solid gray 1px;
    background-color: lightgoldenrodyellow;
    display: inline-block;
    border-radius: 0.3em;
}
