h1 {
    font-family: sans-serif;
    text-align: center;
    font-size: larger;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    position: sticky;
    top: 0;
    background-color: #9c3;
}

thead tr {
 
}

tbody.faded {
    background-color: #eee;
}

tbody tr:nth-child(even) {
    background-color: #ddd;        
}

.header-sorted::after {
    content: " ▼";
    color: white;
}

.tablesorter-headerDesc .tablesorter-header-inner::after {
    content: " ▲";
    color: white;
}

.header-unsorted::after {
    content: " =";
    color: white;
}

thead > tr > td {
    min-width: 6em;
}

thead > tr > td > a {
    text-decoration: none;
    color: black;
}


#col-anchor {
    width: 0;
    min-width: 0;
}


.tag, .lcsh-tag, .lcc-tag {
    border: solid gray 1px;
    background-color: lightgoldenrodyellow;
    display: inline-block;
    border-radius: 0.3em;
}


.author-tag, .lcsh-tag, .lcc-tag, .header-unsorted {
    cursor: pointer;
}

tbody > tr > td:first-child {
    vertical-align: top;
    width: 0;
}

/* tbody > tr > td:first-child .anchor */
.anchor {
    display: block;
    position: relative;
    top: -21px; /* header row height */
    visibility: hidden;
    width: 0;
}

