table {
    border-collapse: collapse;
}



thead tr {
    background-color: #9c3;        
}


tbody tr:nth-child(even) {
    background-color: #ddd;        
}

.header-sorted::after {
    content: " ▼";
    color: white;
}

.tablesorter-headerDesc .tablesorter-header-inner::after {
    content: " ▲";
    color: white;
}

.header-unsorted::after {
    content: " =";
    color: white;
}

thead > tr > td {
    min-width: 6em;
}

.tag, .lcsh-tag, .lcc-tag {
    border: solid gray 1px;
    background-color: lightgoldenrodyellow;
    display: inline-block;
    border-radius: 0.3em;
}


.author-tag, .lcsh-tag, .lcc-tag, .header-unsorted {
    cursor: pointer;
}
